body {
  background-color: maroon;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg); }

h1 {
  -webkit-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  -webkit-filter: blur(20px);
          filter: blur(20px); }
